<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-img slot="end" class="toplogo" src="assets/logo_01.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <h3>Sobre Herbert</h3>
  Tenho 33 anos, e desde os 20 anos trabalho como motoboy, apesar de ser um bom dinheiro e gostar do que faço, acho minha profissão arriscada demais. Tenho uma esposa e 5 filhos que me esperam todos os dias. Apoiado pela minha esposa, filhos, irmás e pelos meus pais resolvi retomar meus estudo e me inscrevi nesse curso técnico, mesmo com essa pandemia estou 100% focado em concluir o curso e me formar como técnico em informática, ainda possuo algumas dificuldades para desenvolvimento, me sinto mais à vontade com a parte de infra e de redes, mas quero aprender o máximo de conhecimentos que o curso pode me oferecer. Também sei que esse é apenas o começo, pois na T.I o aprendizado nunca para, vou ter que estar sempre estudando e me atualizando para poder ser um bom técnico. Mas com muito esforço e Fé em Deus vou conseguir. 

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon name="logo-facebook" size="large" (click)="openSocial('https://www.facebook.com/Lagowa7motoboy')"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-youtube" size="large" (click)="openSocial('youtube')"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-twitter" size="large" (click)="openSocial('twitter')"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-github" size="large" (click)="openSocial('https://github.com/Lagowa')"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
